<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="haystaxInterview">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Haystax - Interview</title>

    <!-- Styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <style>
    .dataCards {
    width: 50%;
    margin: 0;
    position: relative;
    float: left;
    min-height: 200px;
    padding:10px;
}
        .card-block{
            padding: 25px;
        }
       
       .twitter-form{
           margin: auto;
           padding: 20px;
       }
       .full-width{
           width: 100%;
       }
    </style>
 <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>
    
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/twitter">Twitter<span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="/mongo">MongoDB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">User Registration</a>
      </li>
    </ul>
  </div>
</div>
</nav>
    <body ng-controller="twitterController">
    <div class="container">

        <!-- Twitter List LIST -->
        <div id="twitter-list" class="row">
        <!-- Search for twitter-->
        <div class= "twitter-form" id="twitter-form" class="row">
            <div class="text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Handle" ng-model="twitterSearch.handle">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="getTweets()">Show Tweets</button>
                </form>
            </div>
        </div>
<div ng-show="results">  
    <div class="container">
      <h1 class="display-4">{{tweets[0].user.name}}</h1><p class="lead">@{{tweets[0].user.screen_name}}</p>
    <p class="lead">Displaying last Five Tweets</p>
</div>
                <!-- LOOP OVER THE twitter IN $scope.twitter -->
    <div class="dataCards" ng-repeat="tweet in tweets">
        <div class="card card-body">
            <h4 class="card-title">Date : {{ tweet.date | date :  "dd.MM.y" }}</h4>            
            <p class="card-text">   {{tweet.text}}</p>
            <p class="card-text">   English Word Count: {{tweet.wordCount}}</p>
        </div>
    </div>
</div>
            
<div ng-show="failure" class="full-width jumbotron jumbotron-fluid">  
    <div class="container">
      <h1 class="display-4">Oh No!</h1>
        <p class="lead">we didnt find any results for the Username/Handle: <strong>{{handle}}</strong></p>
<p class="lead">Check the username and try again!</p>
</div>
</div>
            
            </div>
        </div>


</body>
</html>

